@import 'reset';

$break-small: 600px;
$break-large: 1200px;
$primary-color: #7f8fa6;
$secondary-color: #c23616;

html,body{
  height:100%;
  overflow: hidden;
}

html {
  font-size: 1.5em;
  @media (max-width: $break-small){
    font-size:1em;
  }
}

body {
  background-color: $secondary-color;
  font-family: Roboto, sans-serif;
  line-height: 1.45;
  color: #333;
  @media (max-width: $break-small){
    line-height: 0.957;
  }
}

p {
  margin-bottom: 1.3em;
  @media (max-width: $break-small){
    margin-bottom:0.858em;
  }
}

h1, h2, h3, h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  @media (max-width: $break-small){
    line-height:1.1em;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
  @media (max-width: $break-small){
    font-size: 2.08362em;
  }
}

h2 {
  font-size: 2.369em;
  @media (max-width: $break-small){
    font-size: 1.56354em;
  }
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small, .font_small {
  font-size: 0.75em;
}

h1, h2, h3, h4, h5 {
  font-weight:bold;
}

// h1 {
//   font-size:2em;
//   @media (max-width: $break-small){
//     font-size:1.4em;
//   }
// }

.flex-parent {
  display: flex;
  max-width:100%;
  height: 100%;
  align-items:center;
  justify-content:center;
  .flex-child {
    position:relative;
    &.centered {
      align-self:center;
    }
  }
}

#logo-section {
  height:100vh;
  width:100vw;
  position:absolute;
  z-index: 1;
  pointer-events:none;
  &.flex-parent {
    background:$secondary-color;
    .flex-child {
      width:240px;
      height:196px;
    }
  }
}

#logo-bg,
#logo-solid,
#logo-wrap,
#logo-shine {
  position:absolute;
}

#logo-solid {
  transform:scale(0.5);
  opacity:0;
}

#logo-wrap {
  width:240px;
  height:201.25px;
  opacity:0;
}

#logo-shine {
  position: absolute;
  top: -102px;
  left: -134px;
}

#intro-section {
  height:100vh;
  width:100vw;
  position:absolute;
  z-index: 0;
  &.flex-parent {
    background:$primary-color;
    .flex-child {
      text-align:center;
      h1 {
        color:rgba(255,255,255,0.12);
        margin:0;
      }
    }
  }
  .service-buttons {
    margin:24px 0;
    opacity:0;
    .btn-primary {
      width: 48%;
      margin: 0 0.5%;
      @media screen and (max-width: $break-small) {
        width: 98%;
        margin: 6px 0 0 0;
      }
    }
  }
}

#services-about {
  position:absolute;
  width:100vw;
  bottom:0;
  left:0;
  right:0;
  height:60px;
  .btn-round {
    border:0;
    background:$secondary-color;
    height:60px;
    width:60px;
    position:absolute;
    left:50%;
    margin:0;
    margin-left:-30px;
    border: 1px solid $secondary-color;
    border-radius: 44px 44px 0 0;
    transition:all 0.12s ease-in-out;
    &:hover{
      background: darken($secondary-color, 10%);
      transform:scale(1.06);
    }
    span {
      width:12px;
      height:12px;
      border-bottom:4px solid #ffffff;
      border-right:4px solid #ffffff;
      transform:rotate(45deg);
      position:absolute;
      top:18px;
      left:21px;
    }
  }
}

#services-big {
  position:absolute;
  overflow: hidden;
  width:100vw;
  height:100vh;
  top:100vh;
  z-index:100;
  background: $secondary-color;
  transition:all 400ms ease-in-out;
  h1,h2,h3,h4,h5 {
    color:lighten($primary-color, 50%);
  }
  p {
    color:#ffffff;
  }
  &.reading {
    top:0vh;
  }
  #services-big-intro {
    position:absolute;
    background:lighten($secondary-color, 3%);
    overflow-y: auto;
    width:100vw;
    height:100vh;
    top:0%;
    cursor:pointer;
    transition:all 0.32s ease-in-out;
    padding: 18px;
    &:hover {
      background:$secondary-color;
    }
    &.hide {
      top:100%;
    }
    &.showing {
      top:0%;
    }
  }
  #services-big-define {
    position:absolute;
    background:lighten($secondary-color, 6%);
    overflow-y: auto;
    width:100vw;
    height:100vh;
    top:25%;
    cursor:pointer;
    transition:all 0.32s ease-in-out;
    padding: 18px;
    &:hover {
      background:$secondary-color;
    }
    &.hide {
      top:100%;
    }
    &.showing {
      top:0%;
    }
  }
  #services-big-design {
    position:absolute;
    background:lighten($secondary-color, 9%);
    overflow-y: auto;
    width:100vw;
    height:100vh;
    top:50%;
    cursor:pointer;
    transition:all 0.32s ease-in-out;
    padding: 18px;
    &:hover {
      background:$secondary-color;
    }
    &.hide {
      top:100%;
    }
    &.showing {
      top:0%;
    }
  }
  #services-big-develop {
    position:absolute;
    background:lighten($secondary-color, 12%);
    overflow-y: auto;
    width:100vw;
    height:100vh;
    top:75%;
    cursor:pointer;
    transition:all 0.32s ease-in-out;
    padding: 18px;
    &:hover {
      background:$secondary-color;
    }
    &.hide {
      top:100%;
    }
    &.showing {
      top:0%;
    }
  }
  .btn-close {
    border:0;
    background:$primary-color;
    height:60px;
    width:60px;
    position:absolute;
    right:0px;
    top:0px;
    margin:0;
    border-radius: 0 0 0 34px;
    position: absolute;
    cursor:pointer;
    span {
      width:24px;
      height:24px;
      position:absolute;
      top: 26px;
      left: 20px;
      &:after{
        display:block;
        width:24px;
        height:4px;
        transform:rotate(45deg);
        content:'';
        background-color:#ffffff;
        position: absolute;
      }
      &:before{
        display:block;
        width:24px;
        height:4px;
        transform:rotate(-45deg);
        content:'';
        background-color:#ffffff;
        position: absolute;
      }
    }
  }
  .btn-next {
    border:0;
    background:transparent;
    height:60px;
    width:60px;
    position:absolute;
    right:20px;
    top:50%;
    margin:0;
    margin-top:-30px;
    border: 2px solid #fff154;
    border-radius: 34px;
    position: absolute;
    bottom: 20px;
    span {
      width:12px;
      height:12px;
      border-top:2px solid #111;
      border-left:2px solid #111;
      transform:rotate(45deg);
      position:absolute;
      top:24px;
      left:21px;
    }
  }
}

#service-lines {
  position: relative;
  width: 100vw;
  height: 100vh;
  pointer-events:none;
  svg{
    opacity:0.24;
  }
}

#floating-logo {
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left:-50px;
  z-index: 100;
  opacity:0;
  svg{
    width:100%;
  }
  @media screen and (max-width: $break-small) {
    width:80px;
    position: absolute;
    left: 50%;
    margin-left:-40px;
    top: 20px;
    z-index: 100;
    opacity:0;
  }
}

.btn {
  padding:6px 12px;
  background: $secondary-color;
  border:0;
  font-size:1em;
  font-weight:bold;
  color:#ffffff;
  margin:6px;
  transition:all 0.12s ease-in-out;
  &:hover {
    color:#ffffff;
    transform:scale(1.06);
    background: darken($secondary-color, 10%);
  }
}

.btn-primary {
  padding:12px 24px;
}

.container {
  max-width:880px;
  margin:48px auto;
}